.heading1{
    font-size: 30px;
    color: greenyellow;
    text-align: center;
    text-decoration: underline;
}
.pera1{
    font-size: 15px;
    color: palevioletred;
  
}
.div1{
    background-color:indigo;
    border-top: 10px solid red;
    border-radius: 20px;
    margin: 20px 50px ;
}
.heading2{
    font-size: 30px;
    color: blue;
    text-align: center;
    text-decoration: underline;



    
}
.pera2{
    color: brown;
    font-size: 15;
}
.div2{
    background-color: aqua;
    border-bottom: 10px solid navy;
    border-radius: 20px;
    margin: 20px 50px;
}
.heading3{
    font-size: 30px;
    color: green;
    text-align: center;
    text-decoration: underline;
}
.div3{
    background-color: darkred;
    border: 10px solid gold;
    margin: 20px 50px;
}
