.heading1{
    font-size: 30px;
    color: greenyellow;
    text-align: center;
    text-decoration: underline;
}
.pera1{
    font-size: 15px;
    color: crimson;
}
.div1{
    background-color: aqua;
}
.heading2{
    font-size: 30px;
    color: blue;
    text-align: center;
    text-decoration: underline;


    
}
.pera2{
    color: brown;
    font-size: 15;
}
.div2{
    background-color: aqua;
}
.heading3{
    font-size: 30px;
    color: green;
    text-align: center;
    text-decoration: underline;
}
.div3{
    background-color: aqua;
}
